*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #050505;
    padding: 0;
    margin: 0;
    margin: 0 50px;
}

@media (max-width: 768px) {
    body {
       margin: 0;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 110px;
    background-color: #051923;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

@media (max-width: 768px) {
    header .header-profile-picture {
        height:65px;
    }
}

header .hamburger {
    background-image: url("/resources/menu.png");
    ;
    display: none;
    color: white;
    font-size: 50px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

@media (max-width: 768px) {
    header .navbar {
        display: none;
    }

    header .hamburger {
        display: contents;
    }
}


header .bottom-indicater {
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background: #fbdf00;
    position: absolute;
}

header .language-flag {
    position: relative;
    display: inline;
    cursor: pointer;
}

header .language-flag:first-child {
    margin-right: 10px;
}


header .language-flag img {
    height: 47px;
    width: 47px;
}

header .navigation ul {
    padding: 0;
}

header .navigation li {
    position: relative;
    list-style-type: none;
    display: inline;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    list-style: none;
    cursor: pointer;
    color: white;
}

header .navigation li:first-child {
    margin-right: 10px;
}


.hero {
    height: calc(-110px + 100vh);
    background-color: blue;
    width: 100%;
}

.hero-section {
    height: 100%;
    width: 100%;
    background-color: #051923;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-section .hero-text-and-title {
    background-color: #051923;
    width: 50%;
}

.hero-section h1 {
    margin: 0;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: #fbdf00;
    animation: slide-in 1s ease-out forwards;
    opacity: 0;
    transform: translateX(-100%);
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.hero-section p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    animation: slide-in-bottom 1.5s ease-out forwards 1s;
    opacity: 0;
    transform: translateY(100%);
}

.hero-section button {
    background-color: #fbdf00;
    border: none;
    height: 100px;
    cursor: pointer;
    border-radius: 20px;
    animation-delay: 10s;
    animation: slide-in-bottom 1s ease-out forwards 2s;
    opacity: 0;
    transform: translateY(300%);
}

.hero-section button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #050505;
    margin: 20px;
}


@keyframes slide-in-bottom {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }
    .hero-section h1 {
        font-size: 30px;
    }
    .hero-section p {
        font-size: 20px;
    }
    .hero-section img {
        display: none;
    }
    .hero-section button {
        height: 60px
    }
    .hero-section button span {
        font-size: 20px;
    }
}